<form>
	<div class="row-fluid">
		<div class="span4 control-group" style="font-weight: bold;">{{ _('Name') }}</div>
		<div class="span6 control-group" style="font-weight: bold;">{{ _('URL') }}</div>
		<div class="span2 btn-group">
			<button class="btn btn-mini btn-primary" data-bind="click: webcamsb_add_cam" title="Add Camera"><i class="fa fa-plus"></i></button>
		</div>
	</div>
	<div class="row-fluid" data-bind="foreach: settings.settings.plugins.webcamSB.urls">
		<div class="row-fluid">
			<div class="span4">
				<div class="controls">
					<input type="text" class="input input-block-level" data-bind="value: name" />
				</div>
			</div>
			<div class="span6">
				<div class="controls">
					<input type="text" class="input input-block-level" data-bind="value: url" />
				</div>
			</div>
			<div class="span2">
				<button class="btn btn-mini btn-danger" data-bind="click: $parent.webcamsb_remove_cam" title="Remove Camera"><i class="fa fa-times"></i></button>
			</div>
		</div>
	</div>
	<p>
	<div>
	<div class="wcsb_moreS">
	<div>Allow to expand on click</div>
	<select data-bind="value: settings.settings.plugins.webcamSB.expand">
		<option value="1">YES</option>
		<option value="0">NO</option>
	</select>
	</div>
	<div class="wcsb_moreS">
	<div>Default Stream</div>
	<select data-bind="options: settings.settings.plugins.webcamSB.urls, optionsText: 'name', optionsValue: 'name', value: settings.settings.plugins.webcamSB.defaultCam"></select>
	</div>
	<div class="wcsb_moreS">
	</div>
	</div>
	</p>
</form>
